@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');

.font-kanit {
  font-family: "Kanit", sans-serif;
}

/* Buttons */

.btn3{
  transform: scale(1);
  transition: transform .2s ease-in
}

.btn3:hover{
  transform: scale(1.1);
}